html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  --first-img-background: rgb(240, 240, 250, 1);
  --font-main1: black;
  --background-main1: white;
  --font-main2: white;
  --font-second2: #f0f0fa;
  --background-main2: #3579f4;
  --background-second2: #5591ff;
  --font-main3: white;
  --background-main3: #18162d;
  --font-second3: #666666;
  --margin-top: 1em;
  --margin-bottom: 0.7em;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* img {
    margin-top: 1rem;
} */
/* 
*:focus {
  border: 10rem;
} */

.header {
  padding-top: 2rem;
  justify-content: space-between;
  align-items: center;
}

.header-menu-1 {
  font-size: 1.6rem;
  color: var(--font-main1);
  margin-right: 2rem;
  text-decoration: none;
}

.header-menu-2 {
  font-size: 1.6rem;
  color: var(--background-main2);
  margin-right: 2rem;
  text-decoration: none;
}

.header-menu-button {
  background: none;
  border: none;
  padding: 0;
}


.hidden {
  position: absolute;
    width:  1px;
    height:  1px;
    margin:  -1px;
    border:  0;
    padding:  0;
    white-space: nowrap;
    clip-path: inset (100%);
    clip: rect(0  0  0  0);
    overflow: hidden;
}

.page-max-width {
  max-width: 1170px;
  /* margin: 0 auto; */
  align-items: center;
  margin: 0 auto;
}

.width-limit-1 {
  max-width: 44.5rem;
}

.width-limit {
  max-width: 35rem;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}


.big-container {
  /* display: flex; */
  /* display: flex;
  flex-wrap: wrap; */
  flex-direction: row-reverse;
  /* align-items: stretch;
  align-content: stretch; */
  justify-content: space-between;
}

.ordinary-sections {
  justify-content: flex-start;
}

.boat-loading-less-810 {
  display: block;
}

.boat-loading-more-810 {
  display: block;
  /* display: flex; */
    /* position: relative;
  margin-right: auto;
  align-self: flex-end; */
  /* align-self: flex-start; */
}

.form-center {
  /* gap: 2.5rem; */
  align-items: center;
  align-content: center;
  justify-content: space-between;
  /* justify-content: center; */
}


img.img-big-container {
  display: block;
  object-fit: contain;
  /* margin-left: auto; */
  margin-right: -2rem;
  /* float: right; */
  width: 50%;
  height: auto;
  flex-basis: 32rem;
  align-self: flex-end;
}

img.img-dynamic {
  display: block;
  object-fit: contain;
  height: auto;
  /* width: 50%; */
  flex-basis: 27rem;
  flex-grow: 1;
  /* margin-left: auto; */
  margin-right: 0rem;
  /* float: right; */
  /* width: 50%; */
  /* align-self: stretch; */
}

.types-of-boats {
  /* display: flex;
  flex-wrap: wrap; */
  width: 33rem;
  /* margin-right: auto; */
  /* justify-self: left;
  align-self: left; */
  flex-direction: column;
  align-self: flex-end;
}

/* div.flex-1 {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  flex-wrap: wrap;
  width: 25rem;
} */

li{
  list-style: none;
}

ul.first {
  align-self: flex-end;
  /* display: flex;
  flex-wrap: wrap; */
  flex-direction: row;
  gap: 1rem;
  width: 33rem;
  /* height: 25rem; */
}

ul.center {
  gap: 2.5rem;
  align-items: center;
  align-content: center;
  justify-content: center;
}

p.img-title {
  font-size: 1.4rem;
  text-align: center;
}

img.first {
  /* object-fit: cover; */
    object-position: center;
    width: 10rem;
    height: 9rem;
    background-color: var(--first-img-background);
    border-radius: 1rem;
    padding-left: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2.5rem;
}

/* header {
  padding: 0 0 0 1rem;
} */

hr {
  width: auto;
  border-bottom-width: 0;
  margin: 0;
  border: 0.2rem solid var(--background-main2);
  flex-grow: 1;
  align-self: center;
}

h1 {
  font-size: 3.8rem;
  margin: var(--margin-top) 0 var(--margin-bottom) 0;
}

h2 {
  font-size: 3.4rem;
  margin: var(--margin-top) 0 var(--margin-bottom) 0;
}

h3 {
  font-size: 2.8rem;
  color: var(--background-main2);
  margin: var(--margin-top) 0 var(--margin-bottom) 0;
}

p.big {
  font-size: 2.2rem;
  color: var(--background-main2);
}

p {
  font-size: 2.2rem;
  margin: var(--margin-top) 0 var(--margin-bottom) 0;
}

p.small {
  font-size: 1.6rem;
  line-height: 1.5;
  max-width: 32rem;
}

p.form {
  margin: 0 0 0 0;
}

p.third {
  padding-top: 3rem;
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--font-second3);
}

a {
  margin: var(--margin-top) 0 var(--margin-bottom) 0;
}

a.button {
  font-size: 2.2rem;
  color: var(--font-main1);
  text-decoration: none;
}
a.third {
  color: var(--font-main3);
}

button {
  font-size: 1.6rem;
  margin: var(--margin-top) 0 var(--margin-bottom) 0;
}

button.form {
  width: 32rem;
  background: var(--font-main3);
  border-radius: 1rem;
  border: 0;
  color: var(--font-second3);
  text-transform: uppercase;
  padding-left: 5.56em;
  padding-right: 5.56em;
  padding-top: 1.25em;
  padding-bottom: 1.31em;
  transition-duration: 0.4s;
  transition-property: all;
}

button.form:hover {
  background: var(--background-second2);
  border: 0.5px solid currentColor;
  transform: scale(1.1);
}

li.center {
  /* list-style-type: none; */
  text-align: center;
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 3rem 0 2rem 0;
  margin: 2rem 0 2rem 0;
  box-shadow: -4px 4px 16px rgba(0, 0, 0, 0.2);
  min-width: 32rem;
  width: auto;
  height: 10rem;
  max-width: 32rem;
}

input[type="text"],
input[type="date"],
input[type="mail"],
input[type="password"],
input[type="tel"],
textarea {
  margin-bottom: 1em;
  width: 100%;
  background-color: var(--background-second2);
  min-width: 32rem;
  min-height: 6rem;
  border: 0;
  padding-left: 2.7rem;
  padding-right: 2.8rem;
  padding-bottom: 1.5rem;
  padding-top: 1.19em;
  border-radius: 1rem;
  transition-duration: 0.4s;
  transition-property: all;
}

input:hover {
  border: 0.5px solid currentColor;
  transform: scale(1.1);
}

/* input.text {
  
} */

section {
  padding: 3rem 1rem 2rem 1rem;
}

section.second {
  background-color: var(--background-main2);
  border-radius: 35px 35px 0px 0px;
  padding-bottom: 8rem;
  margin-bottom: -3rem;
  align-items: center;
}

section.second-form {
  background-color: var(--background-main2);
  /* border-radius: 35px 35px 0px 0px; */
  padding-bottom: 8rem;
  margin-bottom: -3rem;
  align-items: center;
}

section.third {
  background-color: var(--background-main3);
  text-align: center;
  border-radius: 35px 35px 0px 0px;
}

@media all and (min-width: 20px){
  .boat-loading-more-810 {
    display: none;
  }
  .boat-loading-less-810 {
    display: initial;
  }
  .types-of-boats {
    margin-right: auto;
  }
  .width-limit {
    max-width: initial;
  }
  hr {
    width: 72rem;
  }
  .header-social-links {
    display: none;
  }
  .header-menu-wide {
    display: none;
  }
  .header-menu-button {
    display: inherit;
  }
  /* .page-max-width {
    margin: 0 0;
  } */
}


@media all and (min-width: 810px){
  .boat-loading-more-810 {
    display: initial;
  }
  .boat-loading-less-810 {
    display: none;
  }
  .width-limit {
    max-width: 35rem;
  }
  hr{
    margin-left: 3rem;
    width: auto;
  }
  .header-social-links {
    display: initial;
  }
  .header-menu-wide {
    display: initial;
  }
  .header-menu-button {
    display: none;
  }
}